#add_topic{
    position: sticky;
    
    button{
        width: 100px;
        height: 50px;
        margin-left: 20px;
    }
}

.modal_window {
    height: 300px;
    text-align: center;
}

.modal_window > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }

  .modal_window > .button_upl {
    margin-top: 80px;
    margin-left: 20px;
  }

.modal_window > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }