@import '../variables.scss';

.loading{
	padding: 40px 0 0 0;
	text-align: center;
}

#topic_list{
	display: flex;
	flex-wrap: wrap;
	padding: 10px 0 80px 0;
}

.topic_list_tab{
	position: relative;
	width: 100%;
	padding: 15px 15px 20px;
	border-bottom: 1px #e8e8e8 solid;
	
	span{
		text-align: right;
		margin: auto;
	}

	.sort_feedback{
		position: absolute;
		bottom: -11px;
		padding: 0 10px;
		background: #f0f2f5;
	}

	.sort{
		padding: 0 5px 0 0;
	}

	button{
		font-size: 16px;
		text-align: center;
		margin: 0 10px 0 0;
	}
}

#load_more{
	display: block;
	margin: 20px auto;
}

.nomore{
	text-align: center;
	color: #b9b9b9;
	padding: 0 0 100px 0;
}