@import '../variables.scss';

#topic_list{
	display: flex;
	flex-wrap: wrap;
}

.topic_list_tab{
	padding: 24px 15px 0;

	.sort{
		padding: 0 5px 0 0;
	}

	button{
		margin: 0 5px 0 0;
	}

	.ant-tag{
		margin: 0 0 0 20px;
	}
}

#load_more{
	display: block;
	margin: 0 auto;
}