#topic_detail{
	width: 1000px;
	box-sizing: border-box;
	margin: 20px auto;
	padding: 20px;
	color: rgba(0, 0, 0, 0.65);
	font-size: 14px;
	font-variant: tabular-nums;
	line-height: 1.5;
	list-style: none;
	font-feature-settings: 'tnum', "tnum";
	position: relative;
	background: #fff;
	border-radius: 2px;
	transition: all .3s;
	border: 1px solid #e8e8e8;

	#author_info{
		padding: 10px 0;
		
		strong{
			padding: 0 5px;
		}
		
		.date{
			color: #ccc;
		}
	}

	#main_pic{
		position: relative;
		width: 100%;

		img{
			width: 100%;
		}

		.reacts_box{
			display: flex;
			position: absolute;
			bottom: 15px;
			left: 15px;
			padding: 4px;
			background: rgba(255,255,255,.6);
			border-radius: 20px;
			
			span{
				margin: 0 2px 0 0;
			}
			span:last-child {
				margin: 0;
			}
			i{
				display: block;
				font-size: 24px;
			}
		}
	}
}

#replies_list{
	width: 1000px;
	box-sizing: border-box;
	margin: 20px auto;
	padding: 20px;
	color: rgba(0, 0, 0, 0.65);
	font-size: 14px;
	font-variant: tabular-nums;
	line-height: 1.5;
	list-style: none;
	font-feature-settings: 'tnum', "tnum";
	position: relative;
	background: #fff;
	border-radius: 2px;
	transition: all .3s;
	border: 1px solid #e8e8e8;

	h2{
		padding: 0 0 6px 0;
		border-bottom: 1px #e8e8e8 solid;
	}
}

.single_reply{
	margin: 0 0 20px 0;

	.user_info{
		padding: 4px 0;

		span{
			margin: 0 4px;
		}
	}
	
	.img_box{
		width: 300px;

		img{
			width: 100%;
		}
	}
}