
#topic_detail{
	width:86%;
	box-sizing: border-box;
	margin: 20px auto;
	padding: 20px;
	color: rgba(0, 0, 0, 0.65);
	font-size: 14px;
	font-variant: tabular-nums;
	line-height: 1.5;
	list-style: none;
	font-feature-settings: 'tnum', "tnum";
	position: relative;
	background: #fff;
	border-radius: 2px;
	transition: all .3s;
	border: 1px solid #e8e8e8;

	#author_info{
		padding: 10px 0;

		strong{
			padding: 0 5px;
		}

		.date{
			color: #ccc;
		}
	}

	#main_pic{
		position: relative;
		width: 100%;
		height: auto;

		img{
			width: 100%;
			height: 100%;
		}

		.reacts_box{
			display: flex;
			position: absolute;
			bottom: 15px;
			right: 15px;
			padding: 4px;
			background: rgba(255,255,255,.6);
			border-radius: 20px;

			span{
				margin: 0 2px 0 0;
			}
			span:last-child {
				margin: 0;
			}
			i{
				display: block;
				font-size: 24px;
			}
		}
	}

	.buttons_box{
		text-align: right;
		padding: 10px 0 0 0;

		.add_reply{
			margin: 0 0 0 10px;
		}
	}
}

#replies_list{
	width: 86%;
	box-sizing: border-box;
	margin: 20px auto;
	padding: 20px;
	color: rgba(0, 0, 0, 0.65);
	font-size: 14px;
	font-variant: tabular-nums;
	line-height: 1.5;
	list-style: none;
	font-feature-settings: 'tnum', "tnum";
	position: relative;
	background: #fff;
	border-radius: 2px;
	transition: all .3s;
	border: 1px solid #e8e8e8;

	h2{
		padding: 0 0 6px 0;
		border-bottom: 1px #e8e8e8 solid;
	}
}

.single_reply{
	padding: 20px 10px;
	border-bottom: 1px solid #e8e8e8;

	&.isexpand{
		background: #e8e8e8;
	}

	.level2{
		display: flex;
		justify-content: space-between;
		padding: 10px 0;

		
		.header_panel{
			display: flex;
			width: 25%;

			.user_info{
				display: flex;

				strong{
					display: block;
					font-size: 16px;
					padding: 0 0 0 6px;
				}

				span.date{
					display: block;
					color: #ccc;
					padding: 0 0 0 6px;
				}
			}
			

			.settings{
				margin-left: auto;
				width: 30px;
				height: 30px;
				border-radius: 3px;
				text-align: center;
				line-height: 36px;
				

				i{
					font-size: 28px;
					font-weight: bold;
					transition: all .2s ease;

					&:hover{
						color:  #1890ff;
					}
				}

			}
		}

		.img_box{
			position: relative;
			width: 30%;

			img{
				width: 100%;
			}

			.reacts_box{
				display: flex;
				position: absolute;
				bottom: 15px;
				right: 15px;
				padding: 4px;
				background: rgba(255,255,255,.6);
				border-radius: 20px;

				span{
					margin: 0 2px 0 0;
				}
				span:last-child {
					margin: 0;
				}
				i{
					display: block;
					font-size: 24px;
				}
			}
		}

		.button_box{
			width: 20%;
			text-align: right;

			i{
				margin: 0 0 0 10px;
			}
		}
	}

	.level3{
		display: flex;
		justify-content: space-between;
		padding: 10px 0;
		min-height: 220px;

		.basic_info{
			width: 25%;
			padding: 14px 14px 14px 38px;
		}

		.header_panel{
			display: flex;
			

			.user_info{
				display: flex;

				strong{
					display: block;
					font-size: 16px;
					padding: 0 0 0 6px;
				}

				span.date{
					display: block;
					color: #ccc;
					padding: 0 0 0 6px;
				}
			}
			

			.settings{
				margin-left: auto;
				width: 30px;
				height: 30px;
				border-radius: 3px;
				text-align: center;
				line-height: 36px;
				

				i{
					font-size: 28px;
					font-weight: bold;
					transition: all .2s ease;

					&:hover{
						color:  #1890ff;
					}
				}

			}
		}

		.replyto{
			position: relative;
			padding: 10px 0 0 0;

			span{
				display: block;
				height: 55px;
				margin: 0 0 0 55px;
				border-left: 1px #e8e8e8 solid;
			}

			strong{
				position: absolute;
				left: 37px;
				top: 25px;
				z-index: 2;
				padding: 2px 0;
				background: #fff;
			}

			em{
				display: block;
				padding: 4px 0 0 37px;
				font-style: normal;
			}
		}
		.img_box{
			position: relative;
			width: 30%;

			img{
				width: 100%;
			}

			.reacts_box{
				display: flex;
				position: absolute;
				bottom: 15px;
				right: 15px;
				padding: 4px;
				background: rgba(255,255,255,.6);
				border-radius: 20px;

				span{
					margin: 0 2px 0 0;
				}
				span:last-child {
					margin: 0;
				}
				i{
					display: block;
					font-size: 24px;
				}
			}
		}

		.button_box{
			width: 20%;
			text-align: right;

			i{
				margin: 0 0 0 10px;
			}
		}
	}

}
