#user_panel_menu{
    padding: 80px 0 0 0;

    span{
        font-size: 16px;
    }
}

#user_panel{
    h2{
        padding: 24px 0 0 24px;
    }
}

#user_topic_list{
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 60px 0;
}

#notifications{
    background: #fff;
    padding: 20px 0 0 24px;

    .ant-list-item-meta-description{
        display: flex;
    }

    .from{
        color: #000;
        padding: 0 5px 0 0;
    }

    i{
        padding: 0 5px;
        font-size: 20px;
    }
}