@import '../variables.scss';

#header {
	margin: 0 auto;
	padding: 0 40px;
	background: $primary-blue;
}

#logo {
	color: #fff;
	font-family: baloo;
	font-size: 38px;
}
#login {
	float: right;
	height: 57px;
	line-height: 57px;
}
#login_button{
	margin: auto;
	font-size: 18px;
	height: 57px;
	border: none;
	color: #fff;
}
.login{
	margin: auto;
	text-align: center;
	font-size: 18px;
	height: 57px;
	border: none;
	color: #fff;
}
.register{
	margin-left: 10px;
	text-align: center;
	font-size: 18px;
	height: 57px;
	border: none;
	color: #fff;
}
//logout
#user_menu {
	float: right;
	height: 57px;
	line-height: 57px;

	#user_info{
		span{
			padding: 0 5px;
			font-size: 18px;
			color: #fff;
		}
	}
	#user_info img{
		// width: 50px;
		height: auto;
		margin-top: 1.5px;
	}
}