@import '../variables.scss';

#header {
	margin: 0 auto;
	padding: 0 40px;
	height: 60px;
	background: $primary-blue;
	display: flex;
	justify-content: space-between;
}

#logo {
	color: #fff;
	font-family: baloo;
	font-size: 38px;
	line-height: 60px;
}
#login {
	height: 60px;
	line-height: 60px;
}
#login_button{
	font-size: 18px;
	height: 60px;
	border: none;
	color: #fff;
}
.login{
	text-align: center;
	font-size: 18px;
	height: 60px;
	border: none;
	color: #fff;
}
.register{
	margin-left: 10px;
	text-align: center;
	font-size: 18px;
	height: 60px;
	border: none;
	color: #fff;
}

//logout
#user_menu {
	float: right;
	height: 60px;
	line-height: 60px;

	#user_info{
		span.name{
			padding: 0 13px;
			font-size: 18px;
			color: #fff;
		}
	}
}