#header {
	margin: 0 auto;
	padding: 0 40px;
	background: #00B8D8;
}

#logo {
	color: #fff;
	font-family: baloo;
	font-size: 38px;
}
#login {
	float: right;
	padding: 10;
}
#login_button{
	margin: auto;
	font-size: 18px;
	height: 57px;
	background: #00B8D8;
	border: none;
	color: blue;
}
.login{
	margin: auto;
	text-align: center;
	font-size: 18px;
	// width: 50px;s
	height: 57px;
	background: #00B8D8;
	border: none;
	color: blue;
}
.register{
	margin-left: 10px;
	text-align: center;
	font-size: 18px;
	// width: 50px;s
	height: 57px;
	background: #00B8D8;
	border: none;
	color: blue;
}