
  .login-form {
    max-width: 400px;
    border: 20px,0,0,0;
  }

  .login-form-button {
    width: 80%;
    margin: 0 30px;
  }

  .login_register{
    display:inline-block; 
    width:200px; 
    text-align:center;
  }
  #text_login{
    font-size: 26px;
    display:inline-block; 
    width:200px; 
    text-align:center;
  }