.register-form {
    max-width: 400px;
    border: 20px,0,0,0;
  }
.register-form-button {
    width: 100%;
  }
#register{
    margin: auto;
}
#text_register{
    font-size: 26px;
    display:inline-block; 
    width:200px; 
    text-align:center;
  }