
footer{
    display: flex;
    padding: 20px 40px;
    color: rgba(255, 255, 255, 0.4);
    background: #000;

    .footer-logo{
        width: 100px;
        margin: 0 40px 0 0;

        img{
            width: 100%;
        }
    }

    ul{
        li{
            list-style-type: none;

            a{
                color: rgba(255, 255, 255, 0.4)
            }
        }
    }
}