
footer{
    padding: 20px 0 0;
    color: rgba(255, 255, 255, 0.4);
    background: #000;

    .footer-logo{
        width: 60px;
        margin: 0 auto 16px;
        text-align: center;

        img{
            width: 100%;
        }
    }

    p{
        margin: 0;
        text-align: center;
        background: #2b2b2b;

        i{
            font-size: 16px;
        }
    }
}